[submodule "slides/reveal.js"]
	path = slides/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "submodules/setup-documents"]
	path = submodules/setup-documents
	url = https://github.com/Southampton-RSG-Training/setup-documents.git
	branch = main
