<div class="row">
  <div class="col-md-6">
    <!-- ToDo: Add Date -->
    <a href="git-novice-what-is-version-control"><h3>Version Control with git</h3></a>
    <table class="table table-striped">
      <!-- ToDo: I would like to auto generate and link per workshop surveys -->
      <!-- ToDo: Make the times adaptive -->
      <tr> <td>09:30</td>   <td> Registration, questions, and technical help</td> </tr>
      <tr> <td>10:00</td>   <td> Teaching </td> </tr>
      <tr> <td>11:15</td>   <td> Break </td> </tr>
      <tr> <td>11:30</td>   <td> Teaching </td> </tr>
      <tr> <td>12:45</td>   <td> Wrap Up </td> </tr>
      <tr> <td>11:30</td>   <td> Finish </td> </tr>
    </table>
  </div>
</div>
